nav
{
  top: 0px;
  position: fixed;
  display: block;
  width: 100%;
  background-color: #000;
  z-index: 3;
  opacity: 1;
}

.clearfix:after
{
  content: '';
  display: block;
  clear: both;
}

.nav-element
{
  float: right;

  transition: font-size 0.3s;

  font-family: Roboto;
  color: #fff;
  z-index: 4;

  cursor: pointer;
  text-align: center;
}

@media (max-device-width: 768px) {
  .nav-element
  {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 48px;
    width: 33%;
  }

  video
  {
    display: none;
  }
}

@media (min-device-width: 769px) {
  .nav-element
  {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 20px;
    width: 150px;
  }

  .nav-element:hover {
    font-size: 22px;
  }
}


.background-video
{
    width: 100%;
    height: auto;
    position: fixed;
}

.description
{
    position: absolute;
    z-index: 2;
    color: #fff;
    width: 600px;
    text-align: center;

    right: 0;
    left: 40px;
    margin: auto;
    transition: color 1500ms
}

.large-description {
  font-size: 60px;
  letter-spacing: 22px;
  top: 100px;
  font-family: Roboto;
}

.add-color.large-description {
  color: #FF0080;
}

.small-description {
  font-family: Roboto;
  font-size: 36px;
  letter-spacing: 12px;
  text-shadow: 0px 0px 50px #fff;
  top: 300px;
}

.project-description {

}

footer
{
  display: block;
  margin-top: 1000px;
}
