body
{
    background-color: #000;
    font-family: 'Bungee Shade', helvetica;
}

.background-video
{
    width: 100%;
    height: auto;
    max-height: 450px;
    position: relative;
    border-radius: 50%;
    opacity: 0;
}

.background-video.opaque-video
{
  transition: 2s;
  opacity: 1;
}

.header
{
    position: absolute;
    z-index: 2;
    color: white;
    width: 600px;
    text-align: center;

    right: 0;
    left: 40px;
    margin: auto;
    transition: color 1500ms
}

.large-header {
  font-size: 60px;
  letter-spacing: 40px;
  top: 100px;
}

.add-color.large-header {
  /*color: #FF0080;*/
}

.small-header {
  font-size: 36px;
  letter-spacing: 20px;
  top: 300px;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.add-color.small-header {
  color: #FF0080;
  animation: roll 1s;
  transition-delay: 1s;
}
