body
{
    background-color: #000;
    font-family: Montserrat, 'Bungee Shade', helvetica;
}

.background-video
{
    width: 100%;
    height: auto;
    max-height: 450px;
    position: relative;
    border-radius: 50%;
    opacity: 0;
}

.background-video.opaque-video
{
  transition: opacity 6s;
  opacity: 1;
}

.header
{
    position: absolute;
    z-index: 2;
    color: white;
    width: 600px;
    text-align: center;

    right: 0;
    left: 40px;
    margin: auto;
    transition: color 1500ms
}

.large-header {
  font-size: 60px;
  letter-spacing: 40px;
  top: 100px;
  font-family: 'Bungee Shade', helvetica;
}

.add-color.large-header {
  color: #FF0080;
}

.small-header {
  font-family: Montserrat;
  font-size: 36px;
  letter-spacing: 12px;
  top: 300px;
}
