body
{
    background-color: #000;
    font-family: 'Bungee Shade', helvetica;
}

#background-video
{
    width: 100%;
    height: auto;
    max-height: 450px;
    position: relative;
    border-radius: 50%;
}

#header
{
    position: absolute;
    z-index: 2;
    color: white;
    width: 600px;
    text-align: center;
    font-size: 72px;
    letter-spacing: 40px;

    top: 200px;
    right: 0;
    left: 40px;
    margin: auto;
}

#header:hover {
  color: crimson;
  transition: color 1s
}
